.wrapper{
    height:100vh;
    width:100%;
    min-height:100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #56bdec;
}


.formControl{
    max-width: 450px;
    width: 90%;
    padding: 30px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 10px 90px 30px rgba(0,0,0,0.3) ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.input{
    display: inline-block;
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 15px 30px;
    outline: none;
    border: 2px solid #f6f6f6;
    width: 85%;
    margin: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.input:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
.input:placeholder {
    color: #cccccc;
  }

.button{
    display: inline-block;
    padding: 15px 30px;
    background-color: #56bdec;
    border: none;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 10px 30px 0 rgba(95, 186,233, 0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.button:hover{
    box-shadow: 0 10px 10px 10px rgba(95, 186, 233, 0.5);
}